## 5.11 Klasyfikacja za pomocą SVM
Spróbujmy, tym razem za pomocą SVM, rozwiązać kolejny raz ten sam problem. Jest to dość typowe zjawisko w przypadku tworzenia rozwiązań ML - należy stworzyć kilka modeli, aby później wybrać ten najlepszy, względnie wystarczająco dobry, ale wydajny. Poprzednio testowaliśmy KNN i jego wydajność dość mocno zależy od tego na jak wielu wektorach trenowaliśmy nasz model, co czyni go mało użytecznym gdy danych jest naprawdę sporo.

In [1]:
import pandas as pd

In [2]:
credit_cards_df = pd.read_parquet("../data/credit-cards-reduced.parquet")
credit_cards_df.T

ID,1,2,3,4,5,6,7,8,9,10,...,29991,29992,29993,29994,29995,29996,29997,29998,29999,30000
LIMIT_BAL,20000,120000,90000,50000,50000,50000,500000,100000,140000,20000,...,140000,210000,10000,100000,80000,220000,150000,30000,80000,50000
AGE,24,26,34,37,57,37,29,23,28,35,...,41,34,43,38,34,39,43,37,41,46
PAY_1,2,-1,0,0,-1,0,0,0,0,-2,...,0,3,0,0,2,0,-1,4,1,0
PAY_2,2,2,0,0,0,0,0,-1,0,-2,...,0,2,0,-1,2,0,-1,3,-1,0
PAY_3,-1,0,0,0,-1,0,0,-1,2,-2,...,0,2,0,-1,2,0,-1,2,0,0
PAY_4,-1,0,0,0,0,0,0,0,0,-2,...,0,2,-2,0,2,0,-1,-1,0,0
PAY_5,-2,0,0,0,0,0,0,0,0,-1,...,0,2,-2,0,2,0,0,0,0,0
PAY_6,-2,2,0,0,0,0,0,-1,0,-1,...,0,2,-2,0,2,0,0,0,-1,0
BILL_AMT1,3913,2682,29239,46990,8617,64400,367965,11876,11285,0,...,138325,2500,8802,3042,72557,188948,1683,3565,-1645,47929
BILL_AMT2,3102,1725,14027,48233,5670,57069,412023,380,14096,0,...,137142,2500,10400,1427,77708,192815,1828,3356,78379,48905
BILL_AMT3,689,2682,13559,49291,35835,57608,445007,601,12108,0,...,139110,2500,0,102996,79384,208365,3502,2758,76304,49764
PAY_AMT1,0,0,1518,2000,2000,2500,55000,380,3329,0,...,6000,0,2000,2000,7000,8500,1837,0,85900,2078
PAY_AMT2,689,1000,1500,2019,36681,1815,40000,601,0,0,...,7000,0,0,111784,3500,20000,3526,0,3409,1800
PAY_AMT4,0,1000,1000,1100,9000,1000,20239,581,1000,13007,...,1505,0,0,3000,7000,3047,129,4200,1926,1000
PAY_AMT5,0,0,1000,1069,689,1000,13750,1687,1000,1122,...,2000,0,0,2000,0,5000,0,2000,52964,1000
PAY_OVERDUE_COUNT,2,2,0,0,0,0,0,0,1,0,...,0,6,0,0,6,0,0,3,1,0
WEIGHTED_PAYMENT_HISTORY,1.683333,0.333333,0.0,0.0,-1.333333,0.0,0.0,-1.0,0.666667,-4.533333,...,0.0,5.9,-1.233333,-0.833333,4.9,0.0,-2.083333,5.916667,0.333333,0.0
AVG_PAY_AMT,114.833333,833.333333,1836.333333,1398.0,9841.5,1295.333333,30126.5,798.5,1126.833333,2354.833333,...,3788.833333,0.0,333.333333,20797.333333,3583.333333,7091.666667,2415.0,5216.666667,24530.166667,1384.666667
SEX_2,True,True,True,True,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
EDUCATION_1,False,False,False,False,False,True,True,False,False,False,...,False,False,False,True,False,False,False,False,False,False
EDUCATION_2,True,True,True,True,True,False,False,True,False,False,...,True,True,False,False,True,False,False,True,False,True
EDUCATION_3,False,False,False,False,False,False,False,False,True,True,...,False,False,True,False,False,True,True,False,True,False
EDUCATION_4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
EDUCATION_5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
EDUCATION_6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
MARRIAGE_1,True,False,False,True,True,False,False,False,True,False,...,True,True,True,False,False,True,False,False,True,True
MARRIAGE_2,False,True,True,False,False,True,True,True,False,True,...,False,False,False,True,True,False,True,True,False,False
MARRIAGE_3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
DEFAULT,1,1,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,1,1,1