## 5.6 Regresja logistyczna wielu zmiennych
Wiemy już jak zmierzyć jakość modelu klasyfikacji binarnej. Powróćmy więc do przykładu klasyfikacji ryzyka niewypłacalności klientów. Postaramy się zbudować model regresji logistycznej, który będzie szacował takie ryzyko.

Zmierzymy wszystkie wspomniane w poprzednim rozdziale metryki, chociaż niektóre z nich są dla nas bardziej istotne.

In [1]:
import pandas as pd

In [3]:
credit_cards_df = pd.read_parquet("../data/credit_cards_preprocessed.parquet")
credit_cards_df.head()

,LIMIT_BAL,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,...,SEX_2,EDUCATION_1,EDUCATION_2,EDUCATION_3,EDUCATION_4,EDUCATION_5,EDUCATION_6,MARRIAGE_1,MARRIAGE_2,MARRIAGE_3
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,24,2,2,-1,-1,-2,-2,3913,3102,...,True,False,True,False,False,False,False,True,False,False
2,120000,26,-1,2,0,0,0,2,2682,1725,...,True,False,True,False,False,False,False,False,True,False
3,90000,34,0,0,0,0,0,0,29239,14027,...,True,False,True,False,False,False,False,False,True,False
4,50000,37,0,0,0,0,0,0,46990,48233,...,True,False,True,False,False,False,False,True,False,False
5,50000,57,-1,0,-1,0,0,0,8617,5670,...,False,False,True,False,False,False,False,True,False,False